<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poweroftwowidget">

    <application
        android:allowBackup="true"
        android:label="Power of Two Widget"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">
        <receiver android:name=".PowerOfTwoWidgetProvider" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/power_of_two_widget_info" />
        </receiver>
    </application>

</manifest>
